<input id="input-username">
<input id="input-password" type="password" />
<a href="#/auth" id="signin-btn" class="btn btn-success">Sign in</a>
<a href="#/register" id="register-btn" class="btn btn-success">Register</a>