<div class="container-messages col-xs-8">
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
        Messages for <strong class="thread-title"></strong>
        <button class="btn-close-msg btn btn-danger btn-xs pull-right glyphicon glyphicon-remove" title="close"></button>
        <button class="btn-collapse-msg btn btn-xs pull-right glyphicon glyphicon-chevron-up" title="collapse"></button>
        </h3>
    </div>
    <div class="messages panel-body">

    </div>
    </div>
</div>