<fieldset>
  <legend>Add Thread</legend>
  <div class="row">
    <label class="col-md-3">
      <input class="form-control" placeholder="Title" type="text" id="tb-thread-title">
    </label>
  </div>
  <button id="btn-add-thread" class="btn btn-default col-md-3">Add</button>
</fieldset>
