<fieldset>
  <legend>Add new Event</legend>
  <div class="form-group">
    <label for="tb-event-title">
      Text:
    </label>
    <input type="text" class="form-control" id="tb-event-title" />
  </div>
  <div class="form-group">
    <label for="tb-event-users">Users: </label>
    <input type="text" id="tb-event-users" class="form-control" />
  </div>
  <div class="form-group">
    <label for="tb-event-category">Category:</label>
    <input type="text" id="tb-event-category" class="form-control" />
  </div>
  <div class="form-group">
    <label for="tb-event-description">
      Description:
    </label>
    <textarea type="text" class="form-control" id="tb-event-description" />
  </div>
  <div class="form-group">
    <label for="tb-event-date">
      Date:
    </label>
    <input type="date" class="form-control" id="tb-event-date" />
  </div>
  <div class="form-group">
    <label for="tb-event-time">
      Time:
    </label>
    <input data-time-format="H:i"  type="date" class="form-control" id="tb-event-time" />
  </div>
  <button class="form-control btn btn-primary" id="btn-event-add">Add</button>
</fieldset>
