<fieldset>
  <legend>Register a new User</legend>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="tb-reg-username">Username:</label>
        <input type="text" class="form-control" id="tb-reg-username" />
      </div>
      <div class="form-group">
        <label for="tb-reg-pass">Password:</label>
        <input type="password" class="form-control" id="tb-reg-pass" />
      </div>
        <button class="btn btn-default" id="btn-register">Register</button>
    </div>
  </div>
</fieldset>
