<fieldset>
  <legend>Add new Todo</legend>
  <div class="form-group">
    <label for="tb-todo-text">
      Text:
      </label>
      <input type="text" class="form-control" id="tb-todo-text" />
  </div>
  <div class="form-group">
    <label for="tb-todo-category">Category:</label>
    <input type="text" id="tb-todo-category" class="form-control" />
  </div>
  <button class="form-control btn btn-primary" id="btn-todo-add">Add</button>
</fieldset>
