::selection {
  background: rgba(187,255,183,0.5);
  color: #218214;
}
.reveal {
  background: #000;
  background-image: url("../../css/imgs/dark-bg.png");
  background-repeat: no-repeat;
}
.reveal .slides {
  height: 100%;
  font-size: 47px;
}
.reveal .slides strong,
.reveal .slides a {
  color: #77b300;
}
.reveal .slides strong {
  font-weight: normal;
}
.reveal .slides a {
  text-decoration: underline;
}
.reveal .slides .hljs {
  background: rgba(250,250,250,0.85);
  border-radius: 15px;
  padding: 15px;
  color: #333;
  max-height: 100%;
}
.reveal .slides section {
  padding: 15px;
  padding-top: 25px;
  color: #ebffd2;
  height: 100%;
  background-image: url("../../css/imgs/logo.png");
  background-repeat: no-repeat, no-repeat;
  text-align: left;
  text-shadow: 3px 3px 10px #000;
}
.reveal .slides section li li {
  font-size: 0.9em;
}
.reveal .slides section code {
  color: #daedf2;
}
.reveal .slides section pre,
.reveal .slides section code {
  text-shadow: none;
}
.reveal .slides section section {
  background-image: url("../../css/imgs/bg-dark.png");
}
.reveal .slides section h1,
.reveal .slides section h2 {
  color: #cf3;
  text-shadow: 3px 3px 5px #000;
  width: 85%;
  margin-left: 10%;
  text-transform: none;
  text-align: right;
}
.reveal .slides section h1 {
  font-size: 1.3em;
  margin-bottom: 5px;
}
.reveal .slides section h2 {
  color: #faf7c8;
  font-size: 1.3em;
  margin-top: 10px;
}
.reveal .slides .slide-title {
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
}
.reveal .slides .slide-title h1 {
  width: 100%;
  margin-top: 100px;
  margin-left: 0;
  font-size: 1.4em;
}
.reveal .slides .slide-title h2 {
  margin-top: 25px;
  margin-left: 20px;
  font-size: 1.1em;
  width: 100%;
}
.reveal .slides .slide-section {
  text-align: center;
}
.reveal .slides .slide-section h1,
.reveal .slides .slide-section h2 {
  width: 100%;
  text-align: center;
  margin-left: 0;
}
.reveal .slides .slide-section h1 {
  margin-top: 20%;
  font-size: 1.7em;
}
.reveal .slides .slide-section h2 {
  margin-top: 25px;
  font-size: 1.1em;
}
.reveal .slides.slide-questions {
  font-size: 1em;
}
.reveal .slides .slide-questions h1 {
  text-align: right;
}
.reveal .slides .slide-questions h2 {
  margin-top: 15%;
  text-align: center;
  font-size: 1.9em;
}
.reveal .slides .signature {
  float: right;
  position: fixed;
  bottom: 30px;
  text-align: left;
}
.reveal .slides .signature-course {
  color: #739900;
  font-size: 1.05em;
  font-weight: bold;
  line-height: 21px;
}
.reveal .slides .signature-initiative {
  color: #f5ffd6;
  font-size: 0.9em;
  line-height: 25px;
  padding-top: 10px;
  margin-bottom: 0;
}
.reveal .slides .signature-link {
  color: #739900;
  font-size: 0.85;
  text-decoration: underline;
  line-height: 10px;
}
