<fieldset class="row">
  <legend class="col-md-12">Add new Cookie</legend>
  <div class="col-md-6">
    <div class="form-group">
      <label for="tb-cookie-text">
        Text:
      </label>
      <input type="text" class="form-control" id="tb-cookie-text" />
    </div>
    <div class="form-group">
      <label for="tb-cookie-category">Category:</label>
      <input type="text" id="tb-cookie-category" class="form-control" />
    </div>
    <div class="form-group">
      <label for="tb-cookie-img">Image:</label>
      <input type="text" id="tb-cookie-img" class="form-control" />
    </div>
    <button class="form-control btn btn-primary col-md-12" id="btn-add-cookie">Add</button>
  </div>
  <img id="cookie-img-preview" class="col-md-5" />
</fieldset>
