<h1>Welcome to the</h1>
<strong>Self manager</strong>
</strong>
<p>This is yet another web app for time management</p>
<h2>Why is this app useless?</h2>
<ul>
  <li>There are much cooler apps, that do the same</li>
  <li>It is created for educational purposes</li>
  <li>Data is stored inside a file!!!</li>
</ul>
