<label for="">Name:
  <input type="text" id="tb-name">
</label>
<label for="">Age:
  <input type="text" id="tb-age">
</label>
<label for="">Genre:
  <select name="" id="dd-gender">
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
</label>
<button id="btn-add">Add</button>
