<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<title>JavaScript Applications: Underscore.js</title>
		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css" id="theme">
		<link rel="stylesheet" href="css/theme/telerik-academy-dark.css">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/github.css">

		<!-- Printing and PDF exports -->
		<script>
				var link = document.createElement('link');
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
				document.getElementsByTagName('head')[0].appendChild(link);
		</script>
		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
</head>

<body>
	<div class="reveal">
		<div class="slides">
			<section id="title" class="slide-title">
				<h1>Underscore.js</h1>
				<h2>The query-based JavaScript</h2>
				<aside class="signature">
					<p class="signature-course">JavaScript Applications</p>
					<p class="signature-initiative">Telerik Software Academy</p>
					<a href="http://academy.telerik.com" class="signature-link">http://academy.telerik.com</a>
				</aside>
			</section>
			<section data-markdown style="font-size: 44px">
				<script type="text/template">
					# Table of Contents
					* Underscore.js
						* What is it?
						* Functionality
							* Extensions
								* Extensions for Collections
								* Array extensions
								* Function extensions
								* Object extensions
							* Utility functions
							* Chaining
				</script>
			</section>

			<!--  -->
			<section>
				<section data-markdown id="whatis">
					<script type="text/template">
						#Underscore.js
						* Underscore.js is a JavaScript library, that extends regular JavaScript functionality
							* Provides extensions to object, arrays, selection, etc..
							* Usable in client JavaScript (web and mobile) and server JavaScript (Node.js)
					</script>
				</section>
				<section data-markdown id="functionality" style="font-size: 44px">
					<script type="text/template">
						#Underscore.js Functionality
						* Extensions
							* Collections
								* each, map, find, filter, where, some, countBy
							* Arrays
								* first, last, union, uniq, range
							* Functions
								* Bind, delay, defer, once, after
							* Objects
								* Keys, values, extend, functions, clone
						* Utilities
							* Templates
						* Chaining
					</script>
				</section>
			</section>

			<section>
				<section data-markdown class="slide-section" id="collections">
					#Extensions for Collections
					##each(), map(), filter(), all(), sortBy(), ...
				</section> 
				<section data-markdown style="font-size:40px">
					#Collections
					* Collections means both arrays and objects
						* All underscore methods work both on arrays and objects (associative arrays)
					* Collection extensions:
						* `_.each()` - iterates over a collection
						* `_.map()`, `_.pluck()` - a projection of a collection
						* `_.filter()`, `_.reject()` and `_.where()` - filter elements
						* `_.all()` and `_.any()` - evaluate a collection
						* `_.sortBy()`, `_.groupBy()` - sorts and groups
				</section>

				<section data-markdown style="font-size:40px">
					#Collections: each()
					 * `_.each()` iterates over a list of elements, yielding each in turn to an iterator function
						 * Just like for-in
							 * Delegates to the native `forEach` function if supported

					```javascript
					var numbers = [ 1, 2, 3, 4, 5, 6, 7, 8 ];
					_.each(numbers, console.log);
					_.each(numbers, function(item) { console.log(item); }
					// log all the numbers
					```

					* Can be used with objects as well:

					```javascript
					_.each(console, console.log);
					// logs all members of the console
					var person = new Person("Doncho", "Minkov");
					_.each(person, console.log);
					// logs Doncho and Minkov
					```
				</section>
				<section data-markdown class="slide-section">
					#`_.each()`
					##Live Demo
				</section>
				<section data-markdown style="font-size:40px">
					#Collections: map()
					* `_.map()` produces a new array of elements, after the values are computed
						* Delegates to the native map, if supported

						```javascript
						var numbers = [ 0, 1, 2, 3, 4, 5, 6, 7, 8 ];
						var numberNames = [ "zero", "one", "two", "three", ... ]
						function numbersToNames(item) {
							return numberNames[item];
						}
						_.map(numbers, numbersToNames);
						// log the number names
						```

						* Can be used with objects as well:

						```javascript
						_.map(console, function (item)` {
								return item.toString();
							});
						```
				</section>
				<section data-markdown class="slide-section">
					#`_.map()`
					##Live Demo
				</section>
				<section>
					<h1>Collections: filter() and reject()</h1>
					<ul>
						<li>Filter and reject return a subset of the original collection, based on a boolean expression</li>
						<ul>
							<li>Filter returns all items matching the condition</li>
							<li>Reject returns all items that don't fulfill the condition</li>
						</ul>
					</ul>

					<pre><code class="lang-javascript hljs">var numbers = [ 0, 1, 2, 3, 4, 5, 6, 7, 8 ];
function isEven(number){ return number%2 === 0;}
var even = _.filter(numbers, isEven);
var odd = _.reject(numbers, isEven);</code></pre>
				</section>
				<section data-markdown class="slide-section">
					#`_.filter()` and `_.reject()`
					##Live Demo
				</section>
				<section data-markdown>
					#Collections: where()
					* `_.where()` filters a collection based on a property value
						* Returns a subcollection of the original collection

					```javascript
					var people = [{name: "Ivan Todorov", age: 21},
					              {name: "Todor Ivanov", age: 11},
					              {name: "Petra Georgieva", age: 14},
					              {name: "Georgi Petrov", age: 11},
					              {name: "Stamina Staminova", age: 19}];
					var elevenYearsOld = _.where(people, {age: 11});
					// returns Todor Ivanov and Georgi Petrov
					```
				</section>
				<section data-markdown class="slide-section">
					#`_.where()`
					##Live Demo
				</section>
				<section data-markdown style="font-size:40px">
					#Collections: all() and any()
					* `_.all()` returns true if ALL of the elements fulfill the boolean condition
					* `_.any()` returns true if ANY of the elements fulfills the boolean condition
						* And false if none of the elements fulfill the condition

					```javascript
					var numbers = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ];
					var anyEven = _.any(numbers,
							function(el){ return el%2==0;});
					// anyEven = true
					var allEven = _.all(numbers,
							function(el){ return el%2==0;});
					// allEven = false;
					```
				</section>
				<section data-markdown class="slide-section">
					#`_.all()` and `_.any()`
					##Live Demo
				</section>
				<section data-markdown>
					#Collections: pluck()
					* `_.pluck()` returns a projection of a collection
						* Select all elements, but only part of them
						* A simplified version of `_.map()`

					```javascript
					var people = [ ... ];
					var lnames = _.pluck(people, 'lname');
					// lnames = [ 'Minkov', 'Kenov', 'Georgiev',
					//            'Kostov', 'Stoyanov' ]
					```
				</section>
				<section data-markdown class="slide-section">
					#`_.pluck()`
					##Live Demo
				</section>
				<section data-markdown style="font-size:40px">
					#Collections: sortBy() and groupBy()
					* `_.sortBy()` sorts the elements of a collection
						* Much like the native sort function
						* Sort by a property
						* Sort by iterator function

					```javascript
					var people = [ ... ];
					people = _.sortBy(people, 'fnames');
					```		
					* `		_.groupBy()` groups the elements of a collection
						* Group by a property
						* Group by with iterator function

					```javascript
					var people = [ ... ];
					people = _.groupBy(people, 'age');
					```
				</section>
				<section data-markdown class="slide-section">
					#`_.sortBy()` and `_.groupBy()`
					##Live Demo
				</section>
			</section>
			<section>
				<section data-markdown class="slide-section" id="arrays">
					#Array Extensions
					##first(), last(), compact(), union(), ...
				</section>
				<section data-markdown>
					#Array Extensions
					* Array extensions work only on array objects
						* Do not work on associative arrays or objects
					* Array extensions:
						* `_.first()` and `_.initial()` select the first N items
						* `_.last()` and `_.rest()` select the last N items
						* `_.compact()` - removes all false values
						* `_.union()` and `_.intersect()` - unite or intersect two or more arrays
				</section>

				<section data-markdown style="font-size:40px">
					#Arrays: ﬁrst() and initial()
					* `_.first()` returns the first element in an array
						* Can be used with a parameter to return the first N elements

					```javascript
					var numbers = [ 1, 2, 3, 4, 5 ];
					var first = _.first(numbers); // 1
					var firstTwo = _.first(numbers, 2); // [ 1, 2 ]
					```
					* `_.initial()` returns all elements except the last one
						* Can be used with a parameter to return all the elements except the last N

					```javascript
					var numbers = [ 1, 2, 3, 4, 5 ];
					var initial = _.initial(numbers); // [ 1, 2, 3, 4 ] 
					var initialTwo = _.initial(numbers, 2); // [ 1, 2, 3 ]
					```
				</section>
				<section data-markdown class="slide-section">
					#`_.first()` and `_.initial()`
					##Live Demo
				</section>
				<section data-markdown style="font-size:40px">
					#Arrays: last() and rest()
					* `_.last()` returns the last element in an array
						* Can be used with a parameter to return the last N elements

					```javascript
					var numbers = [ 1, 2, 3, 4, 5 ];
					var last = _.last(numbers); // 5
					var lastTwo = _.last(numbers, 2); // [ 4, 5 ]
					```
					* `_.rest()` returns all elements except the first one
						* Can be used with a parameter to return all the elements except the first N

					```javascript
					var numbers = [ 1, 2, 3, 4, 5 ];
					var rest = _.rest(numbers); // [ 2, 3, 4, 5 ]
					var restTwo = _.rest(numbers, 2); // [ 3, 4, 5 ]
					```
				</section>
				<section data-markdown class="slide-section">
					#`_.last()` and `_.rest()`
					##Live Demo
				</section>
			</section>

			<section>
				<section data-markdown class="slide-section" id="functions">
					#Function Extensions
					##memoize(), compose()
				</section>
				<section data-markdown>
					#Function Extensions
					* Function extensions provide some additional functionality to regular functions
					* Function extensions:
						* `_.memoize(func)`
							* Memorizes the invocation of a function
							* If the function is called again with the same parameters, the memorized result is returned
						* `_.compose(func1, func2, func3)`
							* Returns a composition list of function
							* The same as func1( func2( func3 () ) );
				</section>
				<section data-markdown>
					<script type="text/template">
					#Functions: memoize()
					* `_.memoize(func)`

					```javascript
					var fib = _.memoize(function(n) {
						if(n < 2) return 2;
						return fib(n-1) + fib(n-2);
					});
					console.log(fib(100));
					```
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
					#Functions: compose()
					* `_.compose(...)`

					```javascript
					var func1 = function(x) {return x + ' first';};
					var func2 = function(x) {return x + ' second';};
					var func3 = function(x) {return x + ' third';};
					var func = _.compose(func3, func2, func1);
					console.log(func('zero'));
					```
					</script>
				</section>
				<section data-markdown class="slide-section">
					#Function Extensions
					##Live Demo
				</section>
			</section>

			<section>
				<section data-markdown class="slide-section" id="objects">
					#Object Extensions
					##keys(), values(), invert(), extend()
				</section>
				<section data-markdown>
					#Object Extensions
					* Object extensions provide some additional functionality to regular objects
					* Object extensions:
						* `_.keys(obj)` – list of all the keys of an object
						* `_.values(obj)` – list of the values of an object
						* `_.invert(obj)` – inverts the keys and the values
						* `_.extend(obj, properties)` – performs prototypal inheritance
				</section>
				<section data-markdown class="slide-section">
					#Object Extensions
					##Live Demo
				</section>
			</section>

			<section>
				<section data-markdown class="slide-section" id="utilities">
					#Utility Functions
					##times(), mixin(), template()
				</section>
				<section data-markdown>
					#Utility Functions:
					* `_.times(count, callback)`
						* Calls callback count times and returns array of the returned values

						```javascript
						function dice() {
							return (Math.random() * 6 + 1) | 0;
						}
						var values = _.times(5, dice);
						console.log(values);
						// example: [ 2, 4, 5, 6, 2 ]
						```
				</section>
				<section data-markdown>
					#Utility Functions:
					* `_.mixin(obj)`
						* Allows you to extend Underscore

					```javascript
					_.mixin({
							getNumbers: function(str) {
								return str.match(/[0-9]+/g);
							},
							getWords: function(str) {
								return str.match(/[a-z]+/g);
							}
					});
					console.log(_.getNumbers('spam word 42 is 12'));
					// [ "42", "12" ]
					```
				</section>
				<section data-markdown style="font-size:40px">
					<script type="text/template">
						#Utility Functions:
						* `_.template(str)` compiles JavaScript templates into functions
							* `<%= … %>` - interpolate value
							* `<%- … %>` - interpolate HTML-escaped value
							* `<% … %>` - execute code
        	
						```javascript
						var compiled_greeting = _.template("Hello, <%= name %>!");
						console.log(compiled_greeting({name: 'World'}));
						// Hello, world!
        	
						var compiled_tag = _.template("<%- tag %>");
						console.log(compiled_tag({tag: '<script>'}));
						// &lt;script&gt;
        	
						var compiled_code = _.template("<% console.log('My name is ' + name); %>");
						compiled_code({name: 'Underscore'});
						// My name is Underscore
						```
					</script>
				</section>
				<section data-markdown class="slide-section">
					#Utility Functions
					##Live Demo
				</section>
			</section>

			<section>
				<section data-markdown class="slide-section" id="chaining">
					#Chaining
					##chain(), value()
				</section>
				<section data-markdown>
					#Chaining
					* Underscore.js usage
						* object-oriented
						* functional

					```javascript
					// these do the same
					_map([ 1, 2, 3 ], function(n) { return n*2; });
					_([ 1, 2, 3 ]).map(function(n) { return n*2; });
					```
				</section>
				<section data-markdown style="font-size: 40px">
					#Chaining
					* `_.chain()` causes future methods to return wrapped objects
					* `_.value()` extracts the value of a wrapped object

					```javascript
					var foods = [{name: 'chocolate', price: 42},
					             {name: 'tomatoes', price: -1000},
					             {name: 'watermelon', price: 17}];
					var sentence = _.chain(foods).sortBy(function(food) {
							return -food.price; // sort in reverse
					}).map(function(food) {
							return 'The price of ' + food.name + ' is ' + food.price + '.';
					}).first().value();
					console.log(sentence);
					// The price of chocolate is 42.
					```
				</section>
				<section data-markdown class="slide-section">
					#Chaining
					##Live Demo
				</section>
			</section>

			<!-- Questions -->
			<section data-markdown class="slide-questions" id="questions">
				<script type="text/template">
					# Underscore.js
					## Questions
				</script>
			</section>
		</div>
	</div>
	<script src="lib/js/head.min.js"></script>
	<script src="js/reveal.js"></script>
	<script>
	/* globals Reveal, hljs */
	// Full list of configuration options available at:
	// https://github.com/hakimel/reveal.js#configuration
	Reveal.initialize({
		controls: true,
		progress: true,
		history: true,
		center: true,
		slideNumber: 'c / t',
		transition: 'slide', // none/fade/slide/convex/concave/zoom
		// Optional reveal.js plugins
		dependencies: [{
			src: 'lib/js/classList.js',
			condition: function() {
				return !document.body.classList;
			}
		}, {
			src: 'plugin/markdown/marked.js',
			condition: function() {
				return !!document.querySelector('[data-markdown]');
			}
		}, {
			src: 'plugin/markdown/markdown.js',
			condition: function() {
				return !!document.querySelector('[data-markdown]');
			}
		}, {
			src: 'plugin/highlight/highlight.js',
			async: true,
			/*condition: function() {
				return !!document.querySelector('pre code');
			},*/
			callback: function() {
				hljs.initHighlightingOnLoad();
			}
		}, {
			src: 'plugin/zoom-js/zoom.js',
			async: true
		}, {
			src: 'plugin/notes/notes.js',
			async: true
		}]
	});
	</script>
</body>

</html>
